body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 280px;
}

th, td{
    text-align: center;

}

input[type=file]{
    border: none;
    width: 300px;
}

input#srch-term{
    max-width: initial;
    width: 400px;
}

.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}

div.products{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.info{
    display: block;
    color: #888;
}

.red{
    color: #900;
}

.img-list{
    width: 100px;
    height: 100px;
}

.content{
    padding-top: 10px;
    padding-bottom: 10px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}

a.product-link {
    text-decoration: none;
    color: #0066c0;
}

a:hover.product-link{
    color: #e47911;
}

span.img-side{
    display: table;
    width: 100%;
    height: 100%;
}

img.img-list-big{
    width: 160px;
    height: 160px;
}

.product-img-preview{
    margin-top: 10px;
}

.label-gris{
    color: #888;
}

.label-negra{

}

.negrita{
    font-weight: bold;
}

.precio-normal{
    font-size: 14px;
}
.precio{
    font-size: 17px;
}

.div-spacing{
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-spacing{
    margin-top: 5px;
    margin-bottom: 5px;
}


.separator{
    border-top: 1px solid #e5e5e5;
}

footer p{
    margin: 0;
    color:#999; 
}

footer a{
    color: #999;
    text-decoration: none;
    line-height: 20px;
}

footer a:hover{
    color: #fff;
    text-decoration: none;
    background-color: transparent;

}